## Kicad
/pcb/**/*-lib-table
/pcb/**/*-cache
/pcb/**/*-rescue.lib
/pcb/**/*.sch-bak
/pcb/**/*.kicad_pcb-bak
/pcb/**/*.kicad_prl
/pcb/**/*.dcm
/pcb/**/*.xml
/pcb/**/*-backups/
/pcb/**/out/

## Quartus
/cpld/db/
/cpld/incremental_db/
/cpld/output/
/cpld/*.dpf
/cpld/*.cdf
/cpld/*.qws

## Testbench
/cpld_tb/ivl_vhdl_work/
/cpld_tb/work/
/cpld_tb/*.gtkw
/cpld_tb/*.vcd
/cpld_tb/*.bin
/cpld_tb/*.mem

## Etc.
/out/pinouts.docx
/out/gerbers.rev.B.zip
/out/gerbers.rev.C.zip
/out/pcb3d.rev.B.webp
*.bak
*.*~
